
body {
    margin: 0px;
}
.header {
    height: 100px;
    background: blue;
} 

.contenido {
     background: black;
     display: flex;
     justify-content: center;
     align-items: center;
}

.cajita{
    height:50px;
    width: 100px;
    background-color: brown;
    border: 5px solid coral;
    margin: 30px;
}
.footer {
    height: 200px;
    background: pink;
}